@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger mt-4">
    <h4>You are not authorized to access this page.</h4>
    <a asp-action="Login" class="btn btn-primary mt-2">Go to Login</a>
</div>
